@import '@/app/import';
$color_1: #626262;
$color_2: #6f6f6f;
$color_3: var(--primary-bold);
$color_4: #fff;
$color_5: #83cbdc;
$color_6: #ffffff;
$border-color_1: #e5e5e5;

.cart-table-container {
  margin-top: 30px;
  table {
    --bs-table-striped-bg: var(--white-color);
    --bs-table-hover-bg: var(--white-color);
    background: #fff none repeat scroll 0 0;
    border-color: $border-color_1;
    border-radius: 0;
    border-style: solid;
    border-width: 1px 0 0 1px;
    text-align: center;
    width: 100%;
    @include x-mobile {
      border-width: 1px;
    }

    th {
      border-top: medium none;
      font-weight: 600;
      padding: 20px 10px;
      text-align: center;
      text-transform: capitalize;
      vertical-align: middle;
      white-space: nowrap;
      font-size: 15px;
      border-bottom: 1px solid #e5e5e5;
      border-right: 1px solid #e5e5e5;
    }
    td {
      border-bottom: 1px solid #e5e5e5;
      border-right: 1px solid #e5e5e5;
      border-top: medium none;
      padding: 20px 10px;
      vertical-align: middle;
      font-size: 13px;
      input {
        background: transparent;
        border: medium none;
        border-radius: 3px;
        color: var(--text-color);
        font-size: 16px;
        font-weight: normal;
        height: 40px;
        padding: 0 5px 0 10px;
        width: 60px;
        text-align: center;
        font-weight: 600;
      }
    }
    td.product-subtotal {
      font-size: 14px;
      font-weight: 600;
      width: 120px;
    }
    td.product-name {
      a {
        font-size: 14px;
        font-weight: 500;
        margin-left: 10px;
        text-transform: capitalize;
        &:hover {
          color: $color_3;
        }
      }
      width: 270px;
    }
    td.product-thumbnail {
      width: 100px;
    }
    td.product-remove {
      a {
        display: inline-block;
        font-size: 18px;
        text-align: center;
        -webkit-transition: all 0.3s ease-in;
        &:hover {
          i {
            color: $color_3;
          }
        }
        i {
          color: var(--grey-color);
          font-size: 30px;
          &:hover {
            color: $color_3;
          }
        }
      }

      width: 150px;
    }
    .product-price {
      .amount {
        font-size: 14px;
        font-weight: 600;
      }
    }
    td.product-quantity {
      width: 180px;
    }
    td.product-price {
      width: 130px;
    }
  }
  .cart-table {
    @include x-mobile {
      thead {
        display: none;
      }

      tr {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: 1px solid #ededed;
        padding: 30px 0;
      }

      th,
      td {
        border: 0 !important;
      }

      td {
        padding: 5px 0 !important;
      }

      td.product-thumbnail {
        width: 100% !important;
        img {
          width: 160px !important;
        }
      }
    }

    th {
      text-transform: uppercase;
      font-size: 15px;
      line-height: 24px;
      font-weight: 500;
      letter-spacing: 1px;
      color: #222;
      background-color: transparent;
      padding: 16px 12px;
      padding-left: 12px;
      text-align: center;
    }
    td {
      background-color: var(--white-color) !important;
      // padding-top: 30px;
      // padding-bottom: 30px;
      // padding-left: 25px;
      text-align: center;
    }
    td.product-thumbnail {
      width: 115px;
      img {
        width: 74px;
      }
    }

    .product-name {
      a {
        text-decoration: none;
        color: var(--text-color);
        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 20px;
      }
    }
    .product-quantity {
      input {
        width: 40%;
      }
      .pro-qty {
        display: flex;
        .dec,
        .inc {
          font-size: 20px;
          font-weight: 400;
          border-radius: 50%;
          color: var(--text-color);
          height: 30px;
          width: 30px;
          background: var(--white-item-bg);

          &:hover {
            cursor: pointer;
            color: var(--white-color);
            background-color: var(--primary-bold);
          }

          button {
            color: var(--text-color);
            font-weight: 500;
            font-size: 20px;
            border: none;
            background: var(--white-item-bg);
            border-radius: 50%;
            width: 30px;
            height: 30px;
            transition: all 0.3s ease-out 0s;

            &:hover {
              color: var(--white-color);
              background-color: var(--primary-bold);
            }
          }
        }
      }
    }
    .total-price {
      .money {
        font-size: 14px;
        color: var(--text-color);
        font-weight: 600;
      }
    }
  }
}

.cart-action {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 20px;
  @include x-mobile {
    width: 100%;
    justify-content: center;
  }
  button {
    background-color: var(--primary-color);
    font-size: 16px;
    color: var(--white-color);
    padding: 10px 15px;
    border-radius: 999px;
    border: 1px solid transparent;
    transition: all 0.3s ease-out 0s;
    @include x-mobile {
      width: 60%;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      &:not(:last-child) {
        margin-right: 0 !important;
      }
    }
    &:not(:last-child) {
      margin-right: 20px;
    }
    &:hover {
      background-color: var(--primary-bold);
    }
  }
}
.pick-delivery-date {
  margin: 50px 0;
  font-size: 14px;
  h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .date-picker-wrapper {
    display: flex;
    background-color: var(--white-item-bg);
    align-items: center;
    padding: 0 20px;
    color: var(--text-grey);
    margin-bottom: 20px;
    .date-picker {
      width: 100%;
      input {
        background-color: var(--white-item-bg);
        width: 100%;
        border: none;
        color: var(--text-grey);
        height: 45px;
        padding: 0 10px;
        &:focus-visible {
          border: none !important;
          outline: none;
        }
      }
    }
  }

  .delivery-note {
    width: 100%;
    margin-bottom: 20px;

    input {
      background-color: var(--white-item-bg);
      width: 100%;
      border: none;
      color: var(--text-grey);
      height: 45px;
      padding: 0 20px;
      &:focus-visible {
        border: none !important;
        outline: none;
      }
    }
  }
  .pick-delivery-decs {
    font-size: 15px;
    color: var(--text-color);
  }
}

.culculate-shipping {
  font-size: 14px;

  h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .countries-select {
    margin-bottom: 20px;
  }
  .zip-code {
    width: 100%;
    margin-bottom: 20px;

    input {
      background-color: var(--white-item-bg);
      width: 100%;
      border: none;
      color: var(--text-grey);
      height: 45px;
      padding: 0 20px;
      &:focus-visible {
        border: none !important;
        outline: none;
      }
    }
  }
  .culculate-action {
    display: flex;

    margin-top: 20px;
    @include x-mobile {
      width: 100%;
      justify-content: center;
    }
    button {
      background-color: var(--primary-color);
      font-size: 16px;
      color: var(--white-color);
      padding: 10px 15px;
      border-radius: 999px;
      border: 1px solid transparent;
      transition: all 0.3s ease-out 0s;
      @include x-mobile {
        width: 60%;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }

      &:hover {
        background-color: var(--primary-bold);
      }
    }
  }
}

.cart-total-wrapper {
  margin: 50px 0;
  padding: 40px;
  background-color: var(--white-item-bg);
  h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 40px;
  }
  .table-total {
    --bs-table-bg: var(--white-item-bg);
    tr,
    th,
    td {
      color: var(--text-color);
      font-weight: 500;
      padding: 16px 12px;
    }
    .cart-subtotal {
      .amount {
      }
    }
  }
  .cart-calculation-button {
    .check-cart {
      font-size: 14px;
      display: flex;
      align-items: center;
      color: var(--text-grey);
      input {
        margin-right: 5px;
        &:checked {
          color: red;
        }
      }
    }

    button {
      margin-top: 10px;
      display: block;
      background-color: var(--primary-color);
      font-size: 16px;
      color: var(--white-color);
      padding: 10px 15px;
      border-radius: 999px;
      border: 1px solid transparent;
      transition: all 0.3s ease-out 0s;
      @include x-mobile {
        width: 60%;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }

      &:hover {
        background-color: var(--primary-bold);
      }
    }
  }
}
