//Bootstrap

.dropdown-menu {
  position: relative;
  &.show {
    background-color: var(--white-color);
    border: none;
    box-shadow: var(--box-shadow);
  }

  &:nth-child(2) {
    &::before {
      content: '';
      height: 100%;
      width: 20px;
      right: -5px;
      top: 0;
      position: absolute;
      background-color: transparent;
    }
  }
}

.dropdown-toggle {
  &.nav-link {
    &::after {
      display: none !important;
    }
  }
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  text-align: center;
  height: 50vh;
}
