$height-header-contact: 44px;
$height-header: 90px;

$color_1: #fff;
$font-family_1: 'Line Awesome Free';

.header-contact {
  background-color: var(--primary-color);
  height: $height-header-contact;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $height-header-contact;
    .contact {
      display: flex;
      .contact-item {
        margin-right: 16px;
        color: var(--white-color);
        span {
          margin-left: 4px;
        }
      }
    }
    .info {
      display: flex;
      .info-item {
        color: var(--white-color);
        margin-left: 16px;
      }
    }
  }
}

.header {
  background-color: var(--white-color);
  height: $height-header;
  display: flex;
  align-items: center;
  // padding: 15px 10px 25px 10px;

  .header-logo {
    margin-bottom: 0;
    font-size: 60px;
    font-family: 'Great Vibes', cursive;
    text-decoration: none;
    color: var(--text-color);
  }

  .btn-drop-down {
    color: var(--text-color);
    text-decoration: none;
    display: block;
    position: relative;
    padding: 0.2em 0;
    .span-icons {
      i {
        margin-left: 10px;
      }
    }
    .nav-list-parent {
      &:nth-child(1) {
        a {
          width: 100%;
          &::after {
            content: '';
            border: 0;
            position: absolute;
            opacity: 0;
            display: none !important;
          }
        }

        &::before {
          content: '';
          position: absolute;
          top: -17px;
          left: 0;
          width: 100%;
          height: 20px;
          background-color: transparent;
        }
      }
      .wrapper-list-child {
        a {
          text-decoration: none;
          color: var(--text-color);
          &:active {
            background-color: var(--primary-color);
            color: var(--white-color);
          }
        }
      }
    }

    .span-icons {
      display: flex;
      justify-content: space-evenly;
      padding: 0 4px;
    }
  }
}
