@import '@/app/import';

.dropdown-menu {
  border-radius: unset !important;
  .dropdown-menu[data-bs-popper] {
    margin-left: 0 !important;
  }
}

.navbar-nav .nav-link {
  color: var(--text-color);
}

.dropend .dropdown-toggle {
  color: var(--text-color);
  margin-left: 0 !important;
  @include x-mobile {
    margin-left: 0;
  }
}

.dropdown-item {
  background-color: transparent;
  // &:hover {
  //   background-color: lightsalmon !important;
  //   color: #fff !important;
  // }
}

.dropdown .dropdown-menu {
  display: none;
  border: none;
  box-shadow: var(--box-shadow);
  min-width: 200px;
  max-width: 500px;
  position: relative;
  @include x-mobile {
    box-shadow: unset;
  }
}

.dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
  display: block;
  margin-top: 0.125em;
  margin-left: 0;
}

// .dropend:hover > .dropdown-menu {
//   @include x-mobile {
//     position: absolute;
//     top: 0;
//     // left: 100%;
//   }
// }

// @media screen and (min-width: 768.02px) {
//   .dropend:hover > .dropdown-menu {
//     position: absolute;
//     top: 0;
//     left: 100%;
//   }
//   .dropend .dropdown-toggle {
//     margin-left: 0.5em;
//   }
// }

.offcanvas {
  .offcanvas-title {
    font-size: 22px;
    font-weight: 700;
  }
}

.search-form {
  width: 500px;
  .btn-primary {
    width: 130px;
    background-color: var(--primary-bold);
    border-radius: 0;
    border: none;
    color: var(--white-color);
    font-size: 15px;

    @include mobile {
      width: 100px;
    }

    &:hover {
      background-color: var(--primary-bold);
      transition: all 0.3s ease-out 0s;
    }
  }

  .search-input {
    background-color: var(--white-color);
    border-radius: 0 !important;
    color: var(--text-color);
    &::placeholder {
      color: var(--grey-color);
      font-size: 15px;
    }
    .input-group-append {
      color: var(--grey-color);
    }
    &:focus {
      border-color: var(--primary-bold);
      box-shadow: unset;
    }
  }
}
