@import '@/app/import';

$icon-size: 16px;
$button-icon: 55px;

.wrapper {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
    flex-wrap: wrap;

    .header-title {
      font-size: 60px;
      font-family: 'Great Vibes', cursive;
      line-height: 60px;
      margin: 0;
    }

    .categories {
      .list {
        display: flex;
        align-items: center;
        list-style-type: none;
        flex-wrap: wrap;
        padding: 0;
      }

      .list-item {
        display: flex;
        align-items: center;
        height: 46px;
        padding: 0 20px;
        cursor: pointer;
        text-align: center;
        border-radius: 999px;
        color: var(--text-color);
        transition: all 0.3s ease-out 0s;
      }

      li.active {
        background-color: var(--primary-color);
        color: var(--white-color);
      }
    }
  }

  .product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .product-wrapper {
      cursor: pointer;
      margin: 10px;
      width: calc((100% / 4 - 20px));
      height: auto;
      margin-bottom: 20px;
      border-radius: 10px;
      box-shadow: var(--box-shadow-product);

      @include s-tablet {
        width: calc((100% / 3 - 20px)) !important;
      }
      @include x-mobile {
        width: calc((100% / 2 - 20px)) !important;
      }
      @include mobile {
        width: calc((100% / 2 - 20px)) !important;
      }
      transition: all 0.3s ease-out 0s;

      &:hover {
        box-shadow: var(--box-shadow);
      }
      .product-thumb {
        position: relative;
        overflow: hidden;
        border-radius: 10px 10px 0 0;

        &:hover {
          img {
            transition: all 0.3s ease-out 0s;
            filter: blur(1px) brightness(0.9);
            transform: scale(1.2);
            transform-origin: 50% 50%;
          }
          .product-badge {
            top: -50px;
            transition: all 0.3s ease-out 0s;
            z-index: 2;
          }
          .product-action {
            position: absolute;
            z-index: 2;
            opacity: 1;
            transition: all 0.3s ease-out 0s;
            a {
              box-shadow: var(--box-shadow-btn);

              transition: all 0.3s ease-out 0s;
              &:nth-child(1) {
                top: 0;
                left: 0;
                transform: rotate(0);
              }
              &:nth-child(2) {
                top: 0;
                right: 0;
                transform: rotate(0);
              }
              &:nth-child(3) {
                bottom: 0;
                left: 0;
                position: absolute;
                transform: rotate(0);
              }
              &:nth-child(4) {
                bottom: 0;
                right: 0;
                position: absolute;
                transform: rotate(0);
              }
            }
          }
        }

        img {
          transition: all 0.3s ease-out 0s;
          width: 100%;
          height: 80%;
          object-fit: contain;
        }
        .product-action {
          z-index: 2;
          position: absolute;
          padding: 0;
          border-radius: 50%;
          max-width: inherit;
          border: 0;
          width: 125px;
          height: 125px;
          bottom: 0;
          top: 0;
          left: 0;
          right: 0;
          margin: auto;
          opacity: 0;
          transition: all 0.3s ease-out 0s;
          a {
            transition: all 0.3s ease-out 0s;
            background-color: var(--white-color);
            color: var(--text-color);
            border-radius: 50%;
            border: none;
            width: $button-icon;
            min-width: inherit;
            height: $button-icon;
            line-height: $button-icon;
            vertical-align: top;
            text-align: center;
            padding: 0;
            margin: 3px;
            &:nth-child(1) {
              top: -50%;
              left: -50%;
              position: absolute;
              transform: rotate(180deg);
            }
            &:nth-child(2) {
              top: -50%;
              right: -50%;
              position: absolute;
              transform: rotate(180deg);
            }
            &:nth-child(3) {
              bottom: -50%;
              left: -50%;
              position: absolute;
              transform: rotate(180deg);
            }
            &:nth-child(4) {
              bottom: -50%;
              right: -50%;
              position: absolute;
              transform: rotate(180deg);
            }

            i {
              width: $icon-size;
              height: $icon-size;
              line-height: $icon-size;
            }
            &:hover {
              background-color: var(--primary-color);
              color: var(--white-color);
              transition: all 0.3s ease-out 0s;
            }
          }
        }
        .product-badge {
          transition: all 0.2s ease-out 0s;
          position: absolute;
          right: 10px;
          top: 10px;
          height: 25px;
          width: 50px;
          color: var(--white-color);
          background-color: var(--badge-bg);
          text-align: center;
          z-index: 2;
        }
      }

      .product-info {
        text-align: center;
        margin: 20px 0;
        h3 {
          font-size: 16px;
          font-weight: 600px;
          color: var(--text-color);
        }
      }
    }
  }
}
