@import '@/app/import';

// .swiper {
//   width: 100%;
//   height: 100%;
// }

// .swiper-slide {
//   text-align: center;
//   font-size: 18px;
//   background: #fff;

//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .swiper-slide img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

// .swiper {
//   width: 100%;
//   height: 300px;
//   margin-left: auto;
//   margin-right: auto;
// }

// .swiper-slide {
//   background-size: cover;
//   background-position: center;
// }

.mySwiper-detail-parent,
.cp-mySwiper {
  .external-buttons {
    overflow: visible;

    .swiper-button-prev,
    &.swiper-container-rtl .swiper-button-next {
      left: -16px;
      right: auto;
    }

    .swiper-button-next,
    &.swiper-container-rtl .swiper-button-prev {
      right: -16px;
      left: auto;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 45%;
    width: 60px;
    height: 60px;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    color: var(--white-color);
    font-weight: 700;
    outline: 0;
    transition: background-color 0.2s ease, color 0.2s ease;

    &::after {
      font-size: 16px;
    }

    &:hover {
      background: var(--white-color);
      color: var(--primary-color);
    }
  }

  .swiper-button-prev {
    &:after {
      position: relative;
      left: -1px;
    }
  }

  .swiper-button-next {
    &:after {
      position: relative;
      left: 1px;
    }
  }

  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 10px;
    right: auto;
  }

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
  }

  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
  }
}
.product-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // @include x-mobile {
  //   align-items: center;
  // }
  // padding: 0px 112px;

  // @include xl-tablet {
  //   padding: 0px 76px;
  // }

  // @include x-tablet {
  //   padding: 0px 38px;
  // }

  // @include s-tablet {
  //   padding: 0;
  // }

  // @include x-mobile {
  //   // padding: 0 197px;
  // }
  // @include mobile {
  //   padding: 0 30px;
  // }

  .mySwiper-detail-parent {
    height: 300px !important;
    width: 100%;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain !important;
  }

  .mySwiper-detail-child {
    // box-sizing: border-box;
    margin: 10px 0;
    // margin: 10px 112px;
    height: 24% !important;
    max-height: 30%;
    width: 300px;
    // width: unset;
    // @include x-mobile {
    //   width: 300px;
    // }

    // @include xl-tablet {
    //   margin: 10px 76px;
    // }
    // @include x-tablet {
    //   margin: 10px 37px;
    // }
    // @include tablet {
    //   margin: 10px 37px;
    // }
    // @include s-tablet {
    //   margin: 0;
    // }
    // @include x-mobile {
    //   margin: 10px 214px;
    // }
    // @include mobile {
    //   margin: 10px 30px;
    // }

    .swiper-slide {
      width: 25%;
      // height: 20%;
      opacity: 0.4;
    }
    .swiper-slide-thumb-active {
      opacity: 1;
    }

    .swiper-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      // margin-top: 20px;
    }
  }
}

//////Bootstrap

.product-detail {
  .nav-tabs {
    border-bottom: none;
    background-color: var(--white-item-bg);
    padding: 15px 0;

    .nav-item {
      .nav-link {
        font-weight: 500;
        margin: 0 15px;
        padding: 0;
        color: var(--grey-color);
        border: 2px solid transparent;
        &:hover {
          border: 2px solid transparent;
          border-bottom: 2px solid var(--primary-bold);
          color: var(--primary-bold);
        }
      }
    }

    .nav-item.show {
      .nav-link {
        color: var(--primary-bold);
        background-color: transparent;
        margin: 0 15px;

        border-bottom: 2px solid var(--primary-bold);
      }
    }
    .nav-link.active {
      color: var(--primary-bold);
      background-color: transparent;
      border: 2px solid transparent;
      border-bottom: 2px solid var(--primary-bold);
      margin: 0 15px;
    }
  }
  .tab-content {
    .tab-pane {
      color: var(--desc-text);
      font-size: 15px;
      padding: 30px 15px;
    }
    .tab-pane.show {
      border: 2px solid var(--white-item-bg);
    }
  }
  .reviews-content {
    padding: 24px;
    .product-reviews {
    }
    .pr-header {
      font-size: 18px;
      margin-bottom: 12px;
      color: var(--text-color);
      font-weight: 600;
    }
    .pr-sumary {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      color: var(--desc-text);
      .pr-content {
      }
      .pr-newreviews {
        border-bottom: 1px solid var(--text-color);
        &:hover {
          cursor: pointer;
          color: var(--primary-color);
          border-bottom: 1px solid transparent;
        }
      }
    }
  }
}
